<%- include("partials/header") %>

    <div class="wrapper">
        <div class="typing-demo">
            This is a demo project of our WSDL, Make sure to use the methods in the navbar
        </div>
    </div>