<%- include("partials/header") %>

    <div class="conversion">


        <div class="subscribe">
            <form action="/verser " method="POST">
                <p>Retirer</p>
                <% if(result>-1){ %>
                    <h4> Current Solde is: <%= solde %> TND 💵
                            <% } else { %>
                                <p>Insufficient funds. Withdrawal not allowed.</p>
                                <% } %>
                    </h4>
                    <input placeholder="Insert the value here" class="subscribe-input" name="value" type="text">
                    <br>
                    <button type="submit">
                        <div class="submit-btn"> SUBMIT</div>
                    </button>
            </form>

            <div class="result">
                <% if(typeof result !=='undefined' ) { %>
                    <p>
                        result: <%= result %>TND
                    </p>
                    <% } else { %>
                        <p>Error fetching the value</p>
                        <% } %>
            </div>

        </div>


    </div>